.titleBar-AC4pGV:not(.typeMacOS-3EmCyP)::after {
    content: "MIGRAINE";
    position: absolute;
    top: 4.5px;
    left: 8px;
    color: rgb(170, 170, 170);
    height: 16px;
    width: fit-content;
    font-size: 12px;
    font-weight: bold;
}

.item-PXvHYJ{
    color: rgb(114, 137, 218);
}
.wordmarkWindows-1v0lYD {
    color: #202225
}
.flowerStar-1GeTsn{
    color: #FF7700
}
.circleIcon-LvPL6c.selected-ugP_am{
    color: #FF7700
}
.circleIconButton-jET_ig{
    color: #FF7700
}
.circleIconButton-jET_ig.selected-ugP_am {
    color: #fff;
    background-color: #FF7700;
}
.badgeIconWithSubscribers-3PlMu9{
    color: #FF7700
}
.buttons{
    color: #FF7700
}
.arrow-gKvcEx{
    color: #FF7700
}
.addButtonIcon-3u-3Hu{
    color: #FF7700
}
.lowerBadge-29hYVK{
    color: #FF7700
}
.content-3at_AU{
    color: #FF7700
}
.botTagRegular-2HEhHi{
    background: #FF7700;
    color: #FFF
}

.flexChild-faoVW3{
    color: white
}

.contents-2mQqc9 {
    color: #36393F
}

.header-2RyJ0Y{
    color: #FF7700
}
.closeButton-1tv5uR{
    color: #FF7700
}
.icon-LYJorE{
    color: #36393F;
}
.premiumIcon-1rDbWQ {
    color: #FF7700
}
.pointerEvents-2zdfdO{
        color: #36393F;
}